#Android generated
bin
gen

#Eclipse
.project
.classpath
.settings

#IntelliJ IDEA
.idea
*.iml
classes

#Maven
target
release.properties
pom.xml.*

#Command line
local.properties
build.xml
proguard-project.txt

## directories to be ignored ##
.settings/
.apt_generated/

## type of files to be ignored ##
*~

R.java
project.properties
lint.xml
.DS_STORE
.factorypath

#Unnecessary proguard files
TinyOwl/proguard/dump.txt
TinyOwl/proguard/seeds.txt
TinyOwl/proguard/usage.txt


